body {
    font-family: Vazir;
    margin: 0;
    padding: 0;
    background-color: #434343;
}

header {
    background-color: none;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
header h1 {color: white; cursor: default; font-weight: lighter; margin-top: -92px; margin-left: 100px;}
header p {color: white; cursor: default; font-weight: lighter; margin-left: 105px; margin-top: -25px;}


/* Weather Banner Here : */
.weatherbanner {width: 50%;
  background-color: rgb(64, 164, 240);
  margin-left: auto;
  padding: 10px;
  border-radius: 3px;
  color: white;
  margin-top: -100px;
}
.weatherbanner h2 {font-size: 3em; margin: 0; margin-top: -70px; margin-right: 10px;}



.main {width: 70%; 
 background-color: none;
 margin-left: auto;
 margin-right: auto; 
 padding-top: 20px;
}

.main h2 {font-size: 2em; color: white; font-weight: 400; margin-left: 20px;}
.main p {color: white; margin-left: 20px;}
.main form {margin-left: 20px; margin-top: -20px;}
.main form input[type=text] {
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    transition: .3s;
    font-family: Vazir;
}
.main form input[type=text]:focus {
    border-color: rgb(91, 148, 223);
    box-shadow: 0 0 8px 0 rgb(91, 148, 223);
}

.main form button {
   width: 60px;
   padding: 8px;
   border: 2px solid rgb(45, 192, 255);
   border-radius: 4px;
   margin-top: 2px;
   background-color: rgb(45, 192, 255);
   color: white;
   cursor: pointer;
}

/* --------------------------------------------------- */
.weather {width: 100%; background-color: none; overflow: visible;}

.weather ul {margin-left: -20px; display: block;}
.weather ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    background: rgba(252, 252, 252, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    padding: 20px 60px;
}
.weather ul li p {color: black;}

/* Cards :  */
.ptime {margin-top: -00px; margin-right: 10px;}
.imgweather {margin-top: -10px;}
.weather ul li h3 {font-size: 2em; color: white; margin-top: -0px;}
.weather ul li h4 {font-size: 2.5em; color: white; margin-top: -30px; margin-top: -30px;}
.wdes {margin-right: 15px; font-size: 1.2em; margin-top: -50px;}
.ptemp {margin-top: -0px; margin-right: 10px;}


.wchar {margin-top: -0px; margin-left: 0px; position: absolute;}